<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoxier.smartdochub.document.mapper.ContentChunkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taoxier.smartdochub.document.model.entity.ContentChunk">
        <id column="id" property="id" />
        <result column="document_id" property="documentId" />
        <result column="chunk_index" property="chunkIndex" />
        <result column="content_type" property="contentType" />
        <result column="content_text" property="contentText" />
        <result column="original_content" property="originalContent" />
        <result column="similarity_score" property="similarityScore" />
        <result column="ai_probability" property="aiProbability" />
        <result column="matched_documents" property="matchedDocuments" />
        <result column="page_number" property="pageNumber" />
        <result column="section_title" property="sectionTitle" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, document_id, chunk_index, content_type, content_text, original_content, similarity_score, ai_probability, matched_documents, page_number, section_title, create_time
    </sql>

</mapper>
